<% if(title == ""){ %>
<footer class="footer-area">
  <div class="container main-footer">
      
      <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="single-widget pr-60">
                      <div class="footer-logo pb-25 ficons">
                          <div class="col-md-4 noPadding text-center">
                              <a class="" href="index.html"><img class="img-responsive" src="img/bg/govgold.png" alt="restorant" width="50"/></a>
                          </div>       
                          <div class="footer-social">
                            <div class="footer-social1">
                              <span>Follow Us</span>
                              <ul class="list-group">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            </ul>
                            </div>    
                        </div>
                      </div>
                      
                      
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="single-widget">
                      <h3>information</h3>
                      <p class="lock"></p>
                      <ul>
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>About Our App</p></a>
                                  </div>
                              </div>
                          </li>                                    
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>Top features</p></a>
                                  </div>
                              </div>
                          </li>                                
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>Our Blog</p></a>
                                  </div>
                              </div>
                          </li> 
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>New features</p></a>
                                  </div>
                              </div>
                          </li>                                     
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>Secure transactions</p></a>
                                  </div>
                              </div>
                          </li>                               
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="single-widget">
                      <h3>useful links</h3>
                      <p class="lock"></p>
                      <ul>
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>About Our App</p></a>
                                  </div>
                              </div>
                          </li>                                    
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>Top Features</p></a>
                                  </div>
                              </div>
                          </li>                                
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>Our Blog</p></a>
                                  </div>
                              </div>
                          </li> 
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>New Features</p></a>
                                  </div>
                              </div>
                          </li>                                     
                          <li class="footer-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <div class="footer-icon"></div>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10">
                                      <a href=""><p>Secure Transactions</p></a>
                                  </div>
                              </div>
                          </li>                               
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="single-widget">
                     <!-- <h3>get in touch</h3>
                      <p class="lock"></p>
                      <p>Ministry of Corporate Affairs<br>
                        R.No 114-C<br>
                        Nirman Bhawan<br>
                        New Delhi-110-011<br>
                    </p>
                      <p>011-23061665<br></p>-->
                      <ul>
                          <li class="address-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <i class="fa fa-address-card"></i>
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding">
                                      <span>Primary:Ministry of Corporate Affairs</span>
                                  </div>
                              </div>
                          </li>
                          <li class="address-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <i class="fa fa-phone"></i>                                       
                                   </div>
                                   <div class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding">
                                      <span>Primary:Ministry of Corporate Affairs</span>
                                  </div>
                              </div>
                              </li>
                          <li class="address-section">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2 col-xs-2">
                                      <i class="fa fa-envelope"></i>                                       
                                  </div>
                                  <div class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding">
                                      <span>Primary:Ministry of Corporate Affairs</span>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
      </div>
  </div>   
  <div class="footer-bottom text-center">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <p>Copyright © <a href="/" target="_blank">The 5-C Team</a> 2022. All Right Reserved By THE 5-C team.</p>
              </div> 
          </div>
      </div>    
  </div>
</footer>

<% } %>
<!-- Footer End -->
<script src="js/ui/vendor/jquery-1.12.0.min.js"></script>
<script src="js/ui/jquery-easing/jquery.easing.min.js"></script>
<script src="js/ui/bootstrap.min.js"></script>
<script src="js/ui/parallax.min.js"></script>
<script src="js/ui/ajax-mail.js"></script>
<script src="js/ui/owl.carousel.min.js"></script>
<script src="js/ui/jquery.nicescroll.min.js"></script>
<script src="js/ui/main.js"></script>

<script src="/js/bundle.js"></script>




<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyIMWhs-crjT0yhctbRjfJFq75FlEhSzE&callback=initMap"> -->
</script>
</body>
</html>
