<%- include('partials/header')  %>


<div class="main">
    
    <!-- Sign up form -->
    <section class="signup">
        <div class="container1" style="width: 1000px;">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Moa and Aoa Formats</h2>
                    <h1 style="font-size: 20px; font-weight: bold;color: blue;"><b>What are MoA and AoA in company registration?</b></h1>
                    <br>

                    <h1 style="font-weight: bold;">    An MoA defines the Company's objectives, whereas an AoA prescribes the procedure to be followed while achieving the Company's objectives. The Company drafts the Articles of Association to define the relationship between the shareholders and the Company and among the shareholders. The Article of Association contains the regulations regarding the following:
                        
                        Share Capital
                        Transfer Of Shares
                        Voting Rights of the Shareholders
                        Appointment Of Directors
                        Accounts
                        Company's Audit</h1>
                    <br>

                    <h1 style="font-weight: bold;">There are various forms under MOA/AOA Formats.</h1>
                    <h1 style="font-weight: bold;">Below are the formats for respective fields.</h1>
                    <br>
                    <h1 style="font-weight: bold; color: rgb(233, 6, 6);">Download Now !</h1><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">1. Beverages <a href="img\docs\MoaAoa\Beverages 1.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">2. Bio Gases <a href="img\docs\MoaAoa\BioGases 2.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">3. Bio Tech <a href="img\docs\MoaAoa\BioTech 3.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">4. Bio-Technology <a href="img\docs\MoaAoa\Bio-Technology 4.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">5. BPO <a href="img\docs\MoaAoa\BPO 5.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">6. Computer <a href="img\docs\MoaAoa\Computer 6.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">7. Education <a href="img\docs\MoaAoa\Education moa.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">8. Education 2 <a href="img\docs\MoaAoa\Education moa 2.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">9. Electronic <a href="img\docs\MoaAoa\Electronic 8.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>
                    <p style="color: rgb(0, 0, 0);font-weight: bold;font-size: 14px;">10. Films Cinemas <a href="img\docs\MoaAoa\Films-Cinemas-etc 10.pdf" style="color: rgb(233, 6, 36);font-weight: bold;">Click Here to Download</a></p><br>



                        
                        

                </div>
                <div class="signup-image">
                    <figure><img src="logFiles/images/signup-image.jpg" alt="sing up image"></figure>
                    
                </div>
            </div>
        </div>
    </section>


</div>







<!-- Font Icon -->
<link rel="stylesheet" href="logFiles/fonts/material-icon/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="logFiles/css/style1.css">
<!-- Main css -->
<link rel="stylesheet" href="logFiles/css/style.css">

<script src="logFiles/vendor/jquery/jquery.min.js"></script>
<script src="logFiles/js/main.js"></script>
<%- include('partials/footer') %>   