


<div class="main">
    
    <!-- Sign up form -->
    <section class="signup">
        <div class="container1">
            <div class="signup-content">
                
                <!-- <div class="signup-image">
                    <figure><img src="logFiles/images/signup-image.jpg" alt="sing up image"></figure>
                    
                </div> -->
                <div>
                    <h1>&nbsp;&nbsp;&nbsp;Names Matched</h1>
                    <ul>
                        <% for (var i=0 ; i < requesterDetails.length-1; i++) { %>
                            
                            <li><%= requesterDetails[i]["nam"]%>     =>   <%= requesterDetails[i]["sim"]%></li>
                            <br>
                            <!-- <li>i</li> -->
                        <% } %>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>


</div>


<!-- Font Icon -->
<link rel="stylesheet" href="logFiles/fonts/material-icon/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="logFiles/css/style1.css">
<!-- Main css -->
<link rel="stylesheet" href="logFiles/css/style.css">
<script src="logFiles/vendor/jquery/jquery.min.js"></script>
<script src="logFiles/js/main.js"></script>
 